/* RESER */

/* Default browser styles reset*/

* {
  margin: 0;
}

h1,
h2,
h3,
h4,
h6,
h6 {
  font-size: inherit;
  font-weight: bold;

  margin-top: 24px;
    margin-bottom: 16px;
    line-height: 1.25;
}

h2{
  padding-bottom: .3em;
  font-size: 1.5em;
}

/* Box-sizing reset method*/

html,
body,
input,
button,
div {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul{
  margin-bottom: 16px;
  padding-left: 32px;
}

li+li {
  margin-top: .25em;
}

/* Lists reset*/

/* ul {
    padding-left: 0;
}

ul > li {
  list-style: none;
} */

/* Links style reset */

a {
  text-decoration: none;
}

/* Set divs to have border-box */

div {
  box-sizing: border-box;
}
body{
  background: #f0f0f0;
}
.page-container{
  max-width: 800px;
  line-height: 1.5;
  padding: 48px;
}

button {
  background-color: #f6f6f6;
  border: 1px solid transparent;
}

h1 {
  font-size: 2em;
  margin: 16px 0;
}

html {
  font-family: Arial, Helvetica;
}

@media all and (width <= 600px) {
  .page-container{
    padding: 24px;
  }
}

p{
  margin-bottom: 16px;
}

img {
  width: 100%;
}

.cover{
  /*border: 1px solid #00000060;*/
  border-radius: 4px;
  
}

hr{
  margin: 2em 0 1.5em;
}

a{
  color: black;
  text-decoration: underline;
}